<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://www.gongjuji.net/Content/files/jquery.md5.js"></script>
</head>

<script>
    $(function (){
        $("#dl").bind("click",function (){
            var pwd = $("#password").val()
            $("#password").val($.md5(pwd))
        })
    })
</script>
<body>
<h1>Fuck You</h1>

<form action="login" method="post">
    <input type="text" name="username">
    <input type="text" name="password" id="password">
    <input type="submit" value="登陆" id="dl">
</form>
<span th:text="${error}"></span>

</body>
</html>